// Import font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Variable
$black: #263238;
$d_grey: #4d4d4d;
$grey: #717171;
$l_grey: #89939e;
$grey_blue: #abbed1;
$silver: #f5f7fa;
$white: #ffffff;

$bg: #f5f7fa;

$primary: #4caf4f;
$secondary: #263238;
$info: #2194f3;

$shade1: #43a046;
$shade2: #388e3b;
$shade3: #237d31;
$shade4: #1b5e1f;
$shade5: #103e13;

$tint1: #66bb69;
$tint2: #81c784;
$tint3: #a5d6a7;
$tint4: #c8e6c9;
$tint5: #e8f5e9;

$warning: #fbc02d;
$error: #e53835;
$success: #2e7d31;

div.container {
  margin-top: 35px;
}

button.btn {
  border: none;
  background-color: $primary;
  padding: 16px 32px;
  color: $white;
  border-radius: 5px;
  margin: 14px 0;
  font-weight: 600;
  cursor: pointer;
}

// HEADER

div.header {
  width: 100%;
  background: $white;
  box-shadow: 1px 1px 10px 2px $grey_blue;
  padding: 20px 160px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

div.logo {
  width: 155px;
  height: 24px;
}

div.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

div.menu > ul.navbar {
  display: flex;
  gap: 50px;
  color: #4d4d4d;
  font-weight: 500;
}

div.menu > ul.navbar > li {
  cursor: pointer;
}

div.menu > button {
  width: 180px;
  border: none;
  background-color: $primary;
  color: $white;
  font-size: small;
  font-weight: 600;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
}

// HERO

div.hero {
  height: 100vh;
  background-color: $bg;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-top: 70px;
}

div.hero > div.frame {
  box-sizing: border-box;
  padding-left: 240px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 50%;
}

div.frame > h1 {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: bold;
  color: $d_grey;
}

div.frame > h1 > span {
  display: block;
  color: $primary;
  margin-top: 6px;
}

div.frame > p {
  color: $grey;
  margin: 12px 0;
  font-size: 14px;
}

div.hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

div.illustration {
  width: 274px;
  height: 284px;
  text-align: center;
}

//CLIENTS

div.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

div.clients > h3 {
  font-size: 28px;
  font-weight: 600;
  color: $d_grey;
}

div.clients > p {
  color: $grey;
}

div.clients-logo {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 130px;
  padding: 25px;
}

//COMMUNITY

div.community-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

div.community-text > h3 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: $d_grey;
}

div.community-text > p {
  color: $grey;
  font-size: 13px;
}

div.community-frame {
  margin-top: 16px;
  display: flex;
  padding: 4px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.community-frame > div {
  width: 210px;
  height: 185px;
  padding: 18px;
}

div.community-frame > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

div.community-frame > div > div > img {
  width: 55px;
  height: 45px;
}

div.community-frame > div > div > h3 {
  font-size: 22px;
  width: 160px;
  font-weight: bold;
  text-align: center;
  color: $d_grey;
}

div.community-frame > div > p {
  color: $grey;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
}

// UNLOCK
div.unlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 125px;
  align-items: center;
}

div.unlock > div {
  width: 410px;
}

div.unlock > div > h3 {
  font-size: 26px;
  font-weight: 600;
  color: $d_grey;
}

div.unlock > div > p {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
}

// ACHIEVEMENTS
div.achievements {
  display: flex;
  flex-direction: row;
  background-color: $bg;
  padding: 90px 0px;
  padding-left: 75px;
}

div.achievements-title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

div.achievements-title > h3 {
  font-size: 26px;
  font-weight: 600;
  color: $d_grey;
}

div.achievements-title > h3 > span {
  color: $primary;
  display: block;
  margin-top: 6px;
}

div.achievements-title > p {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
}

div.achievements-counts {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

div.count {
  display: flex;
  gap: 16px;
  margin: 24px 0;
  padding-left: 65px;
  box-sizing: border-box;
  width: max-content;
  flex-wrap: wrap;
  width: 45%;
}

div.count > div > h3 {
  font-size: 18px;
  font-weight: 600;
  color: $d_grey;
}

div.count > div > p {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
}

// CALENDER

div.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 45px 0;
  gap: 120px;
}

div.calender-text {
  width: 450px;
}

div.calender-text > h3 {
  font-size: 26px;
  font-weight: 600;
  color: $d_grey;
}

div.calender-text > p {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  margin: 16px 0;
}

// CUSTOMERS

div.customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 45px;
  padding: 45px 0;
  background-color: $bg;
}

div.customers-text {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.customers > div.customers-text {
  width: 550px;
}

div.customers-text > p.p-1 {
  color: $grey;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
}

div.customers-text > h5 {
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}

div.customers-text > p.p-2 {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  margin: 8px 0;
}

div.customers-clients {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 28px;
}

div.customers-clients > h5 {
  font-size: 16px;
  font-weight: 600;
  color: $primary;
  cursor: pointer;
}

// COMMUNITY UPDATES
div.community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 120px;
}

div.community-updates > h3 {
  font-size: 26px;
  font-weight: 600;
  color: $d_grey;
}

div.community-updates > p {
  width: 35%;
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 12px 0;
}

div.community-updates-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 125px 24px;
}

div.community-updates-frame > div {
  position: relative;
  z-index: -2;
}

div.community-updates-card {
  width: 220px;
  height: 122px;
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg;
  border-radius: 8px;
  box-shadow: 0px 0px 32px 1px $black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

div.community-updates-card > h4 {
  margin-top: 18px;
  font-size: 14px;
  font-weight: 600;
  color: $grey;
  box-sizing: border-box;
  padding: 0 6px;
  flex: 50%;
}

div.community-updates-card > h5 {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
  cursor: pointer;
  flex: 20%;
  margin-bottom: 8px;
}

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
